@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<h2>Cleveland Codes 5 HW17: Unit Testing.</h2>

<h3> Objective </h3><br />
<p> Create a web based measurement conversion application where a user can convert to/from:<br /><br />

    1.	Liters-Gallons (1 Liter = 0.264172 Gallons)<br />
    2.	Pounds-Kilograms<br />
    3.	Farenheit-Celsius<br /><br />

    The solution called “Converter” with the following projects<br />
    .Web – MVC app<br />
    .Business – Class library containing all the formulas<br />
    .Test – unit tests for testing all the formulas in the .Business project.

</p>
